<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="course">
            <h2><span jhiTranslate="coopcycleApp.course.detail.title">Course</span> {{ course.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.course.courseId">Course Id</span></dt>
                <dd>
                    <span>{{ course.courseId }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.state">State</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'coopcycleApp.DeliveryState.' + course.state }}">{{ course.state }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.paymentMethod">Payment Method</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'coopcycleApp.PaymentMethod.' + course.paymentMethod }}">{{ course.paymentMethod }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.estimatedPreparationTime">Estimated Preparation Time</span></dt>
                <dd>
                    <span>{{ course.estimatedPreparationTime }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.estimatedDeliveryTime">Estimated Delivery Time</span></dt>
                <dd>
                    <span>{{ course.estimatedDeliveryTime }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.preparationTime">Preparation Time</span></dt>
                <dd>
                    <span>{{ course.preparationTime }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.deliveryTime">Delivery Time</span></dt>
                <dd>
                    <span>{{ course.deliveryTime }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.restaurant">Restaurant</span></dt>
                <dd>
                    <div *ngIf="course.restaurant">
                        <a [routerLink]="['/restaurant', course.restaurant?.id, 'view']">{{ course.restaurant?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.deliverer">Deliverer</span></dt>
                <dd>
                    {{ course.deliverer?.id }}
                </dd>
                <dt><span jhiTranslate="coopcycleApp.course.customer">Customer</span></dt>
                <dd>
                    {{ course.customer?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/course', course.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
