<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="basket">
            <h2><span jhiTranslate="coopcycleApp.basket.detail.title">Basket</span> {{ basket.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.basket.basketId">Basket Id</span></dt>
                <dd>
                    <span>{{ basket.basketId }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.basket.basketState">Basket State</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'coopcycleApp.BasketState.' + basket.basketState }}">{{ basket.basketState }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.basket.orderId">Order Id</span></dt>
                <dd>
                    <div *ngIf="basket.orderId">
                        <a [routerLink]="['/course', basket.orderId?.id, 'view']">{{ basket.orderId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/basket', basket.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
