<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-basket-heading" jhiTranslate="coopcycleApp.basket.home.createOrEditLabel">Create or edit a Basket</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coopcycleApp.basket.basketState" for="field_basketState">Basket State</label>
                    <select class="form-control" name="basketState" formControlName="basketState" id="field_basketState">
                        <option value="NOTFINISHED">{{ 'coopcycleApp.BasketState.NOTFINISHED' | translate }}</option>
                        <option value="VALIDATED">{{ 'coopcycleApp.BasketState.VALIDATED' | translate }}</option>
                        <option value="PAID">{{ 'coopcycleApp.BasketState.PAID' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('basketState')!.invalid && (editForm.get('basketState')!.dirty || editForm.get('basketState')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('basketState')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coopcycleApp.basket.orderId" for="field_orderId">Order Id</label>
                    <select class="form-control" id="field_orderId" name="orderId" formControlName="orderId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseOption.id === editForm.get('orderId')!.value?.id ? editForm.get('orderId')!.value : courseOption" *ngFor="let courseOption of orderids; trackBy: trackById">{{ courseOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
