<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="role">
            <h2><span jhiTranslate="coopcycleApp.role.detail.title">Role</span> {{ role.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.role.role">Role</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'coopcycleApp.RoleOption.' + role.role }}">{{ role.role }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.role.accountId">Account Id</span></dt>
                <dd>
                    <span *ngFor="let accountId of role.accountIds; let last = last">
                        <a [routerLink]="['/user-account', accountId?.id, 'view']">{{ accountId.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/role', role.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
